# dependencies
node_modules/
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production build
/build

# env - keep .env.production in git so Vercel has it
.env.local
.env.development.local
.env.test.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
